<!doctype html>
<html>
<head>
	<title>Achievements</title>
	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/achievements.css"/>

	<script src="lib/jquery.js"></script>
	<script src="js/achievements.js"></script>
</head>
<body onload="setup()">
	<div class="frame" id="achievementPage">

		<div class="content">
			<h1>Achievements</h1>
			All the shiny trophies you could ever want.

			<div class="achievementlist"></div>
		</div>

		<div class="toolbar">
			<div class="toolbar-icon">
				<a href="main">
					<img src="assets/toolbar/home.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">HOME</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="avatars">
					<img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">AVATAR</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="achievements">
					<img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">ACHIEVE</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="quests">
					<img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">QUESTS</span>
				</a>
			</div>
			<div class="toolbar-icon" id="logout">
				<a href="/">
					<img src="assets/toolbar/logout.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">LOGOUT</span>
				</a>
			</div>
			<span class="stretch"></span>
		</div>

	</div>
</body>
</html>