<!doctype html>
<html>
<head>
	<title>Alarm</title>
	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/alarm.css"/>
	<script src="lib/jquery.js"></script>
	<script src="js/alarm.js"></script>
</head>
<body onload="setup()">
	<div class="frame" id="alarmpage">
		<div class="content">
			<h1>Alarm</h1>
			<p>Just in case you forget.</p>
			<div class="alarm">
				<div class="timeinput" id="hour">
					<div class="upbutton" id="hourup"></div>
					<div class="timedisplay" id="hourdisplay">00</div>
					<div class="downbutton" id="hourdown"></div>
				</div>
				<div id="leftcolon">:</div>
				<div class="timeinput" id="min">
					<div class="upbutton" id="minup"></div>
					<div class="timedisplay" id="mindisplay">00</div>
					<div class="downbutton" id="mindown"></div>
				</div>
				<div id="rightcolon">:</div>
				<div class="timeinput" id="sec">
					<div class="upbutton" id="secup"></div>
					<div class="timedisplay" id="secdisplay">00</div>
					<div class="downbutton" id="secdown"></div>
				</div>
			</div>

			<div class="alarmbuttons">
				<div class="alarmbutton" id="play"><img class="alarmicon" src="assets/alarm/play-button.png"></img></div>
				<div class="alarmbutton" id="pause"><img class="alarmicon" src="assets/alarm/pause-button.png"></img></div>
				<div class="alarmbutton" id="reset"><img class="alarmicon" src="assets/alarm/reset-button.png"></img></div>
			</div>

		</div>

		<div class="toolbar">
			<div class="toolbar-icon"><a href="main"><img src="assets/toolbar/home.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="map"><img src="assets/toolbar/map.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="alarm"><img src="assets/toolbar/alarm.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="avatars"><img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="achievements"><img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="quests"><img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img></a></div>
			<span class="stretch"></span>
		</div>

	</div>
</body>
</html>
