<!doctype html>
<html>
<head>
	<title>Avatars</title>
	<script src="lib/jscolor.min.js"></script>
	<script src="js/avatars.js"></script>

	<script src="lib/jquery.js"></script>

	<!--<script src="lib/spectrum.js"></script>
	<link rel="stylesheet" href="lib/spectrum.css"/>-->
	<!--<link rel="stylesheet" media="screen" type="text/css" href="lib/colorpicker.css" />
    <script src="lib/colorpicker.js"></script>-->

	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/avatars.css"/>
</head>
<body onload="setup()">
	<div class="frame" id="mainpage">

		<div class="content">
			<h1>Avatars</h1>
			<p>This is where the list of avatars will go.</p>
			<div class="selection">
				<div class="arrow-left"></div>
				<div class="left-avatar"><img height="100%" width="100%" src="assets/avatars/unknown.png"></div>
				<div class="center-avatar"><img height="100%" width="100%" src="assets/avatars/star.png"></div>
				<div class="right-avatar"><img height="100%" width="100%" src="assets/avatars/kevin.png"></div>
				<div class="arrow-right"></div>
			</div>
			<h3>Level 3</h3>


			<!-- Hard to implement...
			<div class="color">
				<button id="primarypicker"
				    class="jscolor {valueElement:null,value:'66ccff',position:'top'}">
				    Primary Color
				</button>
			</div>
			-->
		</div>

		<div class="toolbar">
			<div class="toolbar-icon"><a href="main"><img src="assets/toolbar/home.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="map"><img src="assets/toolbar/map.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="alarm"><img src="assets/toolbar/alarm.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="avatars"><img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="achievements"><img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="quests"><img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img></a></div>
			<span class="stretch"></span>
		</div>

	</div>
</body>
</html>
