<!doctype html>
<html>
<head>
	<title>Avatars</title>
	<script src="lib/jscolor.min.js"></script>
	<script src="lib/jquery.js"></script>
	<script src="js/avatars.js"></script>

	<!--<script src="lib/spectrum.js"></script>
	<link rel="stylesheet" href="lib/spectrum.css"/>-->
	<!--<link rel="stylesheet" media="screen" type="text/css" href="lib/colorpicker.css" />
    <script src="lib/colorpicker.js"></script>-->

	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/avatars.css"/>
</head>
<body onload="setup()">
	<div class="frame" id="avatarPage">

		<div class="content">
			<h1>Avatars</h1>
			<h3 id="selected"></h3>
			<div class="selection">
				<div class="avatar" id="star"><img height="100%" width="100%" src="assets/avatars/unknown.png"></div>
				<div class="avatar" id="kevin"><img height="100%" width="100%" src="assets/avatars/unknown.png"></div>
				<div class="avatar" id="chick"><img height="100%" width="100%" src="assets/avatars/unknown.png"></div>
				<div class = "avatar" id="cat"><img height="100%" width="100%" src="assets/avatars/unknown.png"></div>
				<div class = "avatar" id="ghost"><img height="100%" width="100%" src="assets/avatars/unknown.png"></div>
			</div>
			<p>Unlock more avatars by completing quests!</p>
		</div>

		<div class="toolbar">
			<div class="toolbar-icon">
				<a href="main">
					<img src="assets/toolbar/home.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">HOME</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="map">
					<img src="assets/toolbar/map.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">MAP</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="avatars">
					<img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">AVATAR</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="achievements">
					<img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">ACHIEVE</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="quests">
					<img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">QUESTS</span>
				</a>
			</div>
			<div class="toolbar-icon" id="logout">
				<a href="/">
					<img src="assets/toolbar/logout.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">LOGOUT</span>
				</a>
			</div>
			<span class="stretch"></span>
		</div>

	</div>
</body>
</html>
