<!doctype html>
<html>
<head>
	<!-- Google Analytics Content Experiment code -->
	<!--
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='134275561-0',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	-->
	<!-- End of Google Analytics Content Experiment code -->
	

	<title>Main Menu</title>
	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="css/tutorial.css"/>

	<script src="lib/jquery.js"></script>
	<script src="js/main.js"></script>
</head>
<body onload="setup()">
	<div class="frame" id="mainpage">

		<div class="content">
			<h1>Let's race!</h1>

			<!-- Tutorial -->
			{{#if tutorial}}
				<img src="assets/toolbar/tutorial2.png" class="tutorial"></img>
			{{else}}
				<img src="assets/toolbar/tutorial.png" class="tutorial"></img>
			{{/if}}

			<!-- <div class="map">-->
				<!-- Google Map API key: AIzaSyDwpBnUKrKrXXCFOlTBmBGI8ZaSWqx5zbU -->
				<!--<iframe width="300" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=32.8801%2C-117.2340&key=AIzaSyDwpBnUKrKrXXCFOlTBmBGI8ZaSWqx5zbU"></iframe>
			</div> -->

			<div class="alarmbackground">
				<div class="alarm">
					<div class="timeinput" id="hour">
						<div class="upbutton" id="hourup"></div>
						<div class="timedisplay" id="hourdisplay">00</div>
						<div class="downbutton" id="hourdown"></div>
					</div>
					<div id="leftcolon">:</div>
					<div class="timeinput" id="min">
						<div class="upbutton" id="minup"></div>
						<div class="timedisplay" id="mindisplay">00</div>
						<div class="downbutton" id="mindown"></div>
					</div>
					<div id="rightcolon">:</div>
					<div class="timeinput" id="sec">
						<div class="upbutton" id="secup"></div>
						<div class="timedisplay" id="secdisplay">00</div>
						<div class="downbutton" id="secdown"></div>
					</div>
				</div>

				<div class="tutorial_dialog"><p>Welcome to Race Conditions! Here you can race against the avatar below and see who can reach their goal first!  Set up a time of how long you want to exercise, and complete your planned goal before the avatar can finish their race! Unlock rewards and achievements the more you complete your fitness goals and have fun!</p></div>

				<!--
				<div class="alarmbuttons">
					<div class="alarmbutton" id="play"><img class="alarmicon" src="assets/alarm/play-button.png"></img></div>
					<div class="alarmbutton" id="pause"><img class="alarmicon" src="assets/alarm/pause-button.png"></img></div>
					<div class="alarmbutton" id="reset"><img class="alarmicon" src="assets/alarm/reset-button.png"></img></div>
				</div> 
				-->
				<div class="alarmbuttons">
					<div class="button" id="start">Start!</div>
					<div class="button" id="pause">Pause</div>
					<div class="button" id="finish">Finish!</div>
				</div> 
			</div>

			<img src="assets/avatars/star.png" class="avatar"></img>

		</div>

		<div class="toolbar">
			<div class="toolbar-icon">
				<a href="main">
					<img src="assets/toolbar/home.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">HOME</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="avatars">
					<img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">AVATAR</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="achievements">
					<img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">ACHIEVE</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="quests">
					<img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">QUESTS</span>
				</a>
			</div>
			<div class="toolbar-icon" id="logout">
				<a href="/">
					<img src="assets/toolbar/logout.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">LOGOUT</span>
				</a>
			</div>
			<span class="stretch"></span>
		</div>
	</div>

	<!-- Google Analytics tracking code -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87771262-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>