<!doctype html>
<html>
<head>
	<title>Main Menu</title>
	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/main.css"/>

	<script src="lib/jquery.js"></script>
	<script src="js/main.js"></script>
</head>
<body onload="setup()">
	<div class="frame" id="mainpage">

		<div class="content">
			<!-- <div class="progressbar">
				<div class="w3-progress-container" style="width: 300px;">
				    <div id="bar" class="w3-progressbar w3-green" style="width:20%"></div>
				    <div id="time" class="w3-container">00:00:20</div>
				    <input type="button" class="button" id="button" value="Start!"></input>
				 </div>
			</div> -->

			<img src="assets/avatars/star.png" class="avatar"></img>

			<!-- <div class="map">-->
				<!-- Google Map API key: AIzaSyDwpBnUKrKrXXCFOlTBmBGI8ZaSWqx5zbU -->
				<!--<iframe width="300" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=32.8801%2C-117.2340&key=AIzaSyDwpBnUKrKrXXCFOlTBmBGI8ZaSWqx5zbU"></iframe>
			</div> -->

			<div class="alarm">
				<div class="timeinput" id="hour">
					<div class="upbutton" id="hourup"></div>
					<div class="timedisplay" id="hourdisplay">00</div>
					<div class="downbutton" id="hourdown"></div>
				</div>
				<div id="leftcolon">:</div>
				<div class="timeinput" id="min">
					<div class="upbutton" id="minup"></div>
					<div class="timedisplay" id="mindisplay">00</div>
					<div class="downbutton" id="mindown"></div>
				</div>
				<div id="rightcolon">:</div>
				<div class="timeinput" id="sec">
					<div class="upbutton" id="secup"></div>
					<div class="timedisplay" id="secdisplay">00</div>
					<div class="downbutton" id="secdown"></div>
				</div>
			</div>

			<div class="alarmbuttons">
				<div class="alarmbutton" id="play"><img class="alarmicon" src="assets/alarm/play-button.png"></img></div>
				<div class="alarmbutton" id="pause"><img class="alarmicon" src="assets/alarm/pause-button.png"></img></div>
				<div class="alarmbutton" id="reset"><img class="alarmicon" src="assets/alarm/reset-button.png"></img></div>
			</div>

		</div>

		<div class="toolbar">
			<div class="toolbar-icon">
				<a href="main">
					<img src="assets/toolbar/home.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">HOME</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="map">
					<img src="assets/toolbar/map.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">MAP</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="avatars">
					<img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">AVATAR</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="achievements">
					<img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">ACHIEVE</span>
				</a>
			</div>
			<div class="toolbar-icon">
				<a href="quests">
					<img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">QUESTS</span>
				</a>
			</div>
			<div class="toolbar-icon" id="logout">
				<a href="/">
					<img src="assets/toolbar/logout.png" class="toolbar-icon-img"></img>
					<span class="toolbar-text">LOGOUT</span>
				</a>
			</div>
			<span class="stretch"></span>
		</div>
	</div>
</body>
</html>