<!doctype html>
<html>
<head>
	<title>Map</title>
	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/map.css"/>

	<script src="lib/jquery.js"></script>
	<script src="js/map.js"></script>
</head>
<body onload="setup()">
	<div class="frame" id="mapPage">

		<div class="content">
			<div class="map">
				<!-- Google Map API key: AIzaSyDwpBnUKrKrXXCFOlTBmBGI8ZaSWqx5zbU -->
				<iframe width="320" height="421" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=32.8801%2C-117.2340&key=AIzaSyDwpBnUKrKrXXCFOlTBmBGI8ZaSWqx5zbU"></iframe>
			</div>
		</div>

		<div class="toolbar">
			<div class="toolbar-icon"><a href="main"><img src="assets/toolbar/home.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="map"><img src="assets/toolbar/map.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="avatars"><img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="achievements"><img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="quests"><img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon" id="logout"><a href="/"><img src="assets/toolbar/logout.png" class="toolbar-icon-img"></img></a></div>
			<span class="stretch"></span>
		</div>

	</div>
</body>
</html>