<!doctype html>
<html>
<head>
	<title>Map</title>
	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
</head>
<body>
	<div class="frame" id="mainpage">

		<div class="content">
			<h1>Map</h1>
			<p>Map stuff...</p>
		</div>

		<div class="toolbar">
			<div class="toolbar-icon"><a href="main"><img src="assets/toolbar/home.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="map"><img src="assets/toolbar/map.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="alarm"><img src="assets/toolbar/alarm.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="avatars"><img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="achievements"><img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="quests"><img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img></a></div>
			<span class="stretch"></span>
		</div>

	</div>
</body>
</html>