<!doctype html>
<html>
<head>
	<title>Quests</title>
	<link rel="stylesheet" href="css/toolbar.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/quests.css"/>

	<script src="lib/jquery.js"></script>
	<script src="js/quests.js"></script>
</head>
<body onload="setup()">
	<div class="frame" id="questPage">

		<div class="content">
			<h1>Quests</h1>
			<p>To give you motivation...</p>

			<div class="questlist"></div>
		</div>

		<div class="toolbar">
			<div class="toolbar-icon"><a href="main"><img src="assets/toolbar/home.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="map"><img src="assets/toolbar/map.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="avatars"><img src="assets/toolbar/avatar.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="achievements"><img src="assets/toolbar/achievement.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon"><a href="quests"><img src="assets/toolbar/quest.png" class="toolbar-icon-img"></img></a></div>
			<div class="toolbar-icon" id="logout"><a href="/"><img src="assets/toolbar/logout.png" class="toolbar-icon-img"></img></a></div>
			<span class="stretch"></span>
		</div>

	</div>
</body>
</html>