.toolbar
{
  /*background-color: rgba(200,255,255,.85);*/
  height: 52px;
  position: absolute;
  bottom: 0;
  width: 320px;
}

.toolbar-icon
{
  border: #303030 1px solid;
  background-color: rgba(200,255,255,.85);
  height: 45px;
  width: 45px;
  vertical-align: bottom;
  display: inline-block;
}

.toolbar-icon-img
{
  max-width:100%;
  max-height:100%;
}

.stretch 
{
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}