/* scrapped tool tip, wil make a popup for tutorial however. 
Here is the tutorial used: http://www.w3schools.com/howto/howto_js_popup.asp*/

.tutorial
{
	position: absolute;
	height: 45px;
	width: 45px;
	top: 10px;
	left: 265px;
	display inline;
	cursor pointer;
}

.tutorial .tutorialpopup
{
	visibility: hidden;
	text-align: right;
	background-color: #ffbb33
}
.tutorial .tutorialpopup::after
{
	content: "";
	postion: absolute;
}

.tutorial .appear {
	visibility: visible;
}